<ifmodule mod_rewrite.c="">
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</ifmodule>

<Files ~ "\.php$">
Order allow,deny
Deny from all
</Files>

<Files "es6-practice.php">
Order allow,deny
Allow from all
</Files>

<Files "random.php">
Order allow,deny
Allow from all
</Files>

<Files "square-service.php">
Order allow,deny
Allow from all
</Files>

<Files "label.php">
Order allow,deny
Allow from all
</Files>

<Files "bands.php">
Order allow,deny
Allow from all
</Files>


<Files "index.php">
Order allow,deny
Allow from all
</Files>
